table {
    width: 70%;
    border: 2px black solid;
    border-collapse: collapse;
    text-align: left;
    margin-left: 100px;
    margin-top: 70px;
}

th, td {
    border: 2px black solid;
    border-collapse: collapse;
    text-align: left;
}

thead {
    color: crimson;
}

h1 {
    width: 70%;
    margin-bottom: 50px;
    text-align: center;
    margin-left: 100px;

}

#nen {
    background: aqua;
}

#add {
    height: 200px;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    border-bottom: 2px black;
}
#page{
    text-align: center;
    width: 100%;
   }

